<div id="homeWrapper" class="space-for-nav"></div>
<div class="content-wrapper">
    <div class="row flex-md-row-reverse hello-wrapper">
        <div class="col-sm-12 col-md-6 hello-img-wrapper">
            <div class="glass-bg hello-img">
                <img src="../../assets/images/hello_character.svg" alt="">
            </div>
        </div>
        <div class="col-sm-12 col-md-6 hello-text-wrapper">
            <div class="hello-text-container">
                <p class="hello-name">Hello! I'm <br>KO KO KYAW</p>
                <span class="hello-bar"></span>
                <p class="hello-position1">Front-End Developer</p>
                <div class="hello-icon-group">
                    <a href="">
                        <i class="bi bi-envelope-fill"></i>
                    </a>
                    <a href="">
                        <i class="bi bi-linkedin"></i>
                    </a>
                    <a href="">
                        <i class="bi bi-facebook"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row about-wrapper">
        <div id="aboutWrapper" class="space-for-nav nav-space"></div>
        <div class="col-sm-12 col-md-6 about-img-wrapper">
            <div class="glass-bg about-img">
                <img src="../../assets/images/about_photo.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-12 col-md-6 about-content-wrapper">
            <div class="about-content-container">
                <p class="header">About Me</p>
                <p class="about-content">&emsp;I am a five year experienced front end developer. I have also worked on
                    database and backend development in the past five year. I am almost a full stack developer but my
                    love is in front end development and UI/UX design. When there is a development in need, I will
                    always be willing to collaborate. Feel free to look into my cv for more details.</p>
                <div class="download-cv-wrapper">
                    <button class="common-button">Download CV</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row skill-wrapper">
        <div id="skillWrapper" class="space-for-nav nav-space"></div>
        <div class="col-sm-12 col-md-6 skill-content-wrapper">
            <div class="glass-bg skill-content">
                <div class="skill-design-icon">
                    <i class="bi bi-vector-pen"></i>
                </div>
                <br>
                <p class="text-center">I value simple content structure, clean design patterns, and thoughtful
                    interactions.</p>
                <br>
                <p class="header">Things I enjoy designing:</p>
                <p class="text-center">UX, UI, Web, Apps, Logos</p>
                <br>
                <br class="d-none d-lg-block">
                <p class="header">Design Tools:</p>
                <p class="text-center">Adobe Illustrator <br>
                    Adobe Photoshop <br>
                    Draw.io <br>
                    Figma<br>
                    Font Awesome
            </div>
        </div>
        <div class="col-sm-12 col-md-6 skill-content-wrapper">
            <div class="glass-bg skill-content">
                <div class="skill-design-icon">
                    <i class="bi bi-terminal"></i>
                </div>
                <br>
                <p class="text-center">I value simple content structure, clean design patterns, and thoughtful
                    interactions.</p>
                <br>
                <p class="header">I created with:</p>
                <p class="text-center">HTML, CSS, SCSS, JS, PHP, <br> Mysql, VB6, MSSql</p>
                <br>
                <p class="header">Dev Tools:</p>
                <p class="text-center">
                    Angular (framework)<br>
                    Bootstrap (v3, v4, v5 and icon)<br>
                    VS code <br>
                    Github<br>
                    GitLab<br>
                    Sourcetree
                </p>
            </div>
        </div>
    </div>
</div>