// @import '../../styles.scss';

.navbar {
    margin: 5vw;
    border-radius: 15px;
    position: fixed;
    top: 0;
    width: 90vw;
    min-height: 54px;
    z-index: 999998;
    padding: 0;

    .navbar-collapse {
        min-height: 55px;
        border-radius: 15px;
    }

    .navbar-nav {
        .nav-item {
            min-width: 120px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            .nav-link {
                color: var(--color-dark);
                font-size: 1.1rem;
                font-weight: bold;
                width: max-content;
                border-bottom: 3px solid transparent;
                padding: 3px;
                background: none;
                border: none;
            }
        }

        .active {
            .nav-link {
                border-bottom: 3px solid var(--color-dark);
            }
        }
    }
}


.hamburger {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 3px;
    height: 54px;
    z-index: 999999;

    .line {
        width: 35px;
        height: 4px;
        background-color: var(--color-dark);
        display: block;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
    }

    &.active .line:nth-child(2) {
        opacity: 0;
    }

    &.active .line:nth-child(1) {
        -webkit-transform: translateY(9px) rotate(45deg);
        -ms-transform: translateY(9px) rotate(45deg);
        -o-transform: translateY(9px) rotate(45deg);
        transform: translateY(9px) rotate(45deg);
    }

    &.active .line:nth-child(3) {
        -webkit-transform: translateY(-9px) rotate(-45deg);
        -ms-transform: translateY(-9px) rotate(-45deg);
        -o-transform: translateY(-9px) rotate(-45deg);
        transform: translateY(-9px) rotate(-45deg);
    }
}

.theme-btn {
    position: absolute;
    top: 0px;
    right: 10px;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-dark);
}

@media (max-width: 767px) {
    .navbar {
        margin: 8vw;
        width: 84vw;

        .navbar-nav {
            .nav-item {
                margin: 15px 0px;
            }
        }
    }
}