.navbar {
    margin: 5vw;
    border-radius: 15px;
    position: sticky;

    .navbar-nav {
        .nav-item {
            min-width: 120px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            .nav-link {
                color: #333333;
                font-size: 1.2rem;
                font-weight: bold;
                width: max-content;
                border-bottom: 3px solid transparent;
                padding: 3px;
            }
        }

        .active {
            .nav-link {
                border-bottom: 3px solid #333333;
            }
        }
    }
}


.hamburger {
    cursor: pointer;

    .line {
        width: 35px;
        height: 4px;
        background-color: #ecf0f1;
        display: block;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
    }

    &.active .line:nth-child(2) {
        opacity: 0;
    }

    &.active .line:nth-child(1) {
        -webkit-transform: translateY(9px) rotate(45deg);
        -ms-transform: translateY(9px) rotate(45deg);
        -o-transform: translateY(9px) rotate(45deg);
        transform: translateY(9px) rotate(45deg);
    }

    &.active .line:nth-child(3) {
        -webkit-transform: translateY(-9px) rotate(-45deg);
        -ms-transform: translateY(-9px) rotate(-45deg);
        -o-transform: translateY(-9px) rotate(-45deg);
        transform: translateY(-9px) rotate(-45deg);
    }
}

.theme-btn {
    position: absolute;
    top: 0px;
    right: 10px;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {
    .navbar {
        margin: 8vw;

        .navbar-nav {
            .nav-item {
                margin: 15px 0px;
            }
        }
    }
}