@import "~bootstrap-icons/font/bootstrap-icons.css";

html {
    scroll-behavior: smooth;
    font-size: 1.5rem;
}

:root {
    --color-dark: #333333;
    --color-light: #ffffff;

    --glass-bg-color: rgba(255, 255, 255, .28);

    --body-background: linear-gradient(215deg, #FFB7B7 0%, #727272 100%), radial-gradient(60.91% 100% at 50% 0%, #FFD1D1 0%, #260000 100%), linear-gradient(290deg, #FFDDDD 0%, #720066 100%), linear-gradient(127.43deg, #00FFFF 0%, #FF4444 100%), radial-gradient(100.22% 100% at 70.57% 0%, #FF0000 0%, #00FFE0 100%), linear-gradient(127.43deg, #B7D500 0%, #3300FF 100%);
    ;
}



.dark {

    --color-light: #333333;
    --color-dark: #ffffff;

    --glass-bg-color: rgba(0, 0, 0, 0.4);
    --body-background: linear-gradient(20deg, #000000 0%, #000000 100%), radial-gradient(60.91% 100% at 50% 0%, #a6a3a3 0%, #000000 100%), linear-gradient(290deg, #695c5c 0%, #720066 100%), linear-gradient(127.43deg, #00FFFF 0%, #FF4444 100%), radial-gradient(100.22% 100% at 70.57% 0%, #FF0000 0%, #00FFE0 100%), linear-gradient(127.43deg, #B7D500 0%, #3300FF 100%);
}

body {
    color: var(--color-dark);
}

.glass-bg {
    background-color: var(--glass-bg-color);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.3);
}

//replace
p {
    margin: 0px;
}

.row {
    margin: 0px;
}


// different margin padding for px and vw
@for $x from 0 to 1000 {
    .pad-px#{$x} {
        padding: $x * 1px !important;
    }

    .padt-px#{$x} {
        padding-top: $x * 1px !important;
    }

    .padb-px#{$x} {
        padding-bottom: $x * 1px !important;
    }

    .padl-px#{$x} {
        padding-left: $x * 1px !important;
    }

    .padr-px#{$x} {
        padding-right: $x * 1px !important;
    }

    .pad-vw#{$x} {
        padding: $x * 1vw !important;
    }

    .padt-vw#{$x} {
        padding-top: $x * 1vw !important;
    }

    .padb-vw#{$x} {
        padding-bottom: $x * 1vw !important;
    }

    .padl-vw#{$x} {
        padding-left: $x * 1vw !important;
    }

    .padr-vw#{$x} {
        padding-right: $x * 1vw !important;
    }
}

@for $x from 0 to 1000 {
    .mar-px#{$x} {
        margin: $x * 1px !important;
    }

    .mart-px#{$x} {
        margin-top: $x * 1px !important;
    }

    .marb-px#{$x} {
        margin-bottom: $x * 1px !important;
    }

    .marl-px#{$x} {
        margin-left: $x * 1px !important;
    }

    .marr-px#{$x} {
        margin-right: $x * 1px !important;
    }

    .mar-vw#{$x} {
        margin: $x * 1vw !important;
    }

    .mart-vw#{$x} {
        margin-top: $x * 1vw !important;
    }

    .marb-vw#{$x} {
        margin-bottom: $x * 1vw !important;
    }

    .marl-vw#{$x} {
        margin-left: $x * 1vw !important;
    }

    .marr-vw#{$x} {
        margin-right: $x * 1vw !important;
    }
}

// button
.common-button {
    background-color: var(--color-dark);
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 20px;
    border-radius: 20px;
    border: none;
    color: var(--color-light);
    cursor: pointer;
}